.pytest_cache
.idea
build
release
venv
__pycache__
*.pyc
steamworks_sdk
steamworks-sdk.zip
src/steamworks/sdk
config/
cmake-build-debug
.mypy_cache
.coverage
install_test
dist
*.egg-info
tests/config.ini
tests/conftest.ini
src/doc/_build
html
wheelhouse
